<% content_for :page_title, "Existing #{work.human_readable_type}" %>
<% content_for :page_header do %>

<h2>Describe Your <%= work.human_readable_type %></h2>
<p>
  The more descriptive information you provide the better we can serve your needs.
</p>
<p>
  Please consider releasing your <%= work.human_readable_type %> as an <span class="label label-success">Open Access</span> work.
</p>

<% end %>

<%= simple_form_for(work, url: works_path(work_type: work.work_type), as: :work) do |f| %>
  <% f.object.fieldsets.each do |fieldset| %>
    <%= fieldset.render(f) %>
  <% end %>
  <%= f.submit %>
<% end %>
